@import url(reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FC1E8A;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, #03001E 0%, #7303C0 30%, #EC38BC 70%, #FDEFF9 100%);
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px;
    width: 100%;
    background-color: #FFF;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.reset:focus {
    background-color: #000;
    color: #FFF;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}